Options +FollowSymLinks
DefaultType application/x-httpd-php
DirectoryIndex index.html index.php

# turn on the mod_rewrite engine
RewriteEngine On

## To externally redirect /dir/foo.php to /dir/foo
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R,L,NC]

## To internally redirect /dir/foo to /dir/foo.php
# IF the request filename with .php extension is a file which exists
RewriteCond %{REQUEST_FILENAME}.php -f
# AND the request is not for a directory
RewriteCond %{REQUEST_URI} !/$
# redirect to the php script with the requested filename
RewriteRule (.*) $1\.php [L]
